body{
    width: 100%;
    height: 100vh;

    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.view-dashboard{
    margin: 1px;
    background-color: rgb(41, 116, 41);
}
.lateral-sidebar{
    height: 95vh;
    background-color: white !important;
    margin: 15px;
    border-radius: 12px;
}
.sidebar-header{
    display:flex;
    flex-direction: column;
}
.subtitulo-sidebar, .titulo-sidebar {
    margin: 0;
    text-justify: center;
}
.subtitulo-sidebar {
    font-size: 8pt;
}
.titulo-sidebar {
    font-size: 20pt;
}


